<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h4>Enquiry</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Enquiry</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-sm-12">
                <!-- Input addon -->
                <div class="card card-info">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <select class="form-control">
                                    <option selected="selected">Transport Mode</option>
                                    <option>Air</option>
                                    <option>Sea</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <select class="form-control">
                                    <option selected="selected">Transaction Type</option>
                                    <option>Export</option>
                                    <option>Import</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <select class="form-control">
                                    <option selected="selected">Container Load</option>
                                    <option>LCL</option>
                                    <option>FCL</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input type="text" placeholder="Goods Pickup Date" class="form-control">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fas fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="card" style="background-color:#f4f6f9">
                            <div class="card-header">
                                <strong>Package Details</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <input type="text" placeholder="Length" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <input type="text" placeholder="Width" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <input type="text" placeholder="Height" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <select class="form-control">
                                                <option selected="selected">Select UOM</option>
                                                <option>Metre (m)</option>
                                                <option>Centimeter (cm)</option>
                                                <option>Millimetre (mm)</option>
                                                <option>Inch (inch)</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <input type="text" placeholder="Package Quantity" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <input type="text" placeholder="Gross Weight (KG)" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <input type="text" placeholder="Describe your commodity and enter remarks (if any)" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="row">
                            <div class="col-sm-10">
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-block btn-outline-warning">Submit Enquiry</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->